<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>nguyencongngo.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DistpatchController</servlet-name>
        <servlet-class>nguyencongngo.controller.DistpatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>nguyencongngo.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAppController</servlet-name>
        <servlet-class>nguyencongngo.controller.StartAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>nguyencongngo.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>nguyencongngo.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>nguyencongngo.controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCourse</servlet-name>
        <servlet-class>nguyencongngo.controller.ShowCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>nguyencongngo.controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>nguyencongngo.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>nguyencongngo.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>nguyencongngo.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>nguyencongngo.controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistory</servlet-name>
        <servlet-class>nguyencongngo.controller.ShowHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopping</servlet-name>
        <servlet-class>nguyencongngo.controller.ViewShopping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyCart</servlet-name>
        <servlet-class>nguyencongngo.controller.BuyCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DistpatchController</servlet-name>
        <url-pattern>/DistpatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAppController</servlet-name>
        <url-pattern>/StartAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCourse</servlet-name>
        <url-pattern>/ShowCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistory</servlet-name>
        <url-pattern>/ShowHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopping</servlet-name>
        <url-pattern>/ViewShopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyCart</servlet-name>
        <url-pattern>/BuyCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DistpatchController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>ngoConnection</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
